@import '@material/react-card/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-menu-surface/index.scss';

.active-owner-card__primary,
.active-owner-card__secondary {
    h6 {
        margin: 10px 0;
    }
    .contact-label {
        text-align: left;
        padding: 0 16px;
    }
}

.active-owner-card {
    margin-bottom: 10px;

    .ant-avatar-image {
        position: relative;
        top: -13px;
        left: 45%;
    }
}
