@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-material-icon/index.scss';

.drawer-app-content {
    flex: auto;
    overflow: auto;
}

.top-app-bar-fix-adjust {
    display: flex;
    width: 100%;
}

.mdc-drawer--dismissible {
    top: auto;
}

.mdc-drawer {
    margin-top: 64px;
}

@media only screen and (max-width: 600px) {
    .mdc-drawer {
        margin-top: 56px;
    }
}

.mdc-list > a {
    text-decoration: none !important;
}
